.col {
  box-sizing: border-box;
}

.col-7-20 {
  width: 100%;
}

.col-1-4 {
  width: 25%;
}

.col-7-10 {
  width: 35%;
}

.col-2-5 {
  width: 40%;
}



/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0px;
}

@media all and (max-width: 1000px) {
  [class*='col-'] {
    width: 100%;
  }

  ul.section-links {
    display: none;
  }

  .content {
    flex-direction: column;
  }
}

@media all and (max-width: 700px) {
  [class*='col-'] {
    width: 100%;
  }

  .right-nav button {
    display: none;
  }

  .subscribe {
    display: none;
  }

  .content {
    flex-direction: column;
  }
}
