<div class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="">

  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li><i class="fa fa-newspaper-o" aria-hidden="true"></i><a href="#">Today’s Paper</a></li>
    <li><i class="fa fa-video-camera" aria-hidden="true"></i><a href="#">Video</a></li>
    <li><button type="button" name="button">77°F</button></li>
    <li><button type="button" name="button">AAO <text style="color: green">+100%</text></button></li>
  </ul>


</div>
