<ul id="sections-sidebar">
  <li>World</li>
  <li>
    <section class="dropdown">
      San Francisco
      <ul>
        <div></div>
        <span>San Francisco</span>
        <li>Students</li>
        <li>Teaching Assistants</li>
        <li>Instructors</li>
        <li>Career Advisors</li>
        <li>Cats</li>
      </ul>
    </section>

  </li>
  <li>New York</li>
  <li>
    <section class="dropdown">
      Bootcamp Prep
      <ul>
        <div></div>
        <span>Bootcamp Prep</span>
        <li>Students</li>
        <li>Instructors</li>
        <li>Cats</li>
      </ul>
    </section>
  </li>
  <li>Jumpstart</li>
  <li>
    <section class="dropdown">
      Online
      <ul>
        <div></div>
        <span>Online</span>
        <li>Immersive</li>
        <li>Bootcamp Prep</li>
        <li>Cats</li>
      </ul>
    </section>
  </li>
  <li>Marketing</li>
  <li>
    <section class="dropdown">
      Sales
      <ul>
        <div></div>
        <span>Sales</span>
        <li>Associates</li>
        <li>Analytics</li>
        <li>Cats</li>
      </ul>
    </section>
  </li>
  <li>TalentMatch</li>
  <li>
    <section class="dropdown">
      Alumni
      <ul>
        <div></div>
        <span>Alumni</span>
        <li>Students</li>
        <li>Companies</li>
        <li>Opinions</li>
        <li>Cats</li>
      </ul>
    </section>
  </li>
  <li><a href="#">All</a></li>
</ul>
